{% extends "layout.html" %}

{% block title %}
    Mileage calculator
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="mb-3">
            <p>Enter an origin and destination station.</p>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="origin" name="origin" placeholder="Origin" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="destination" name="destination" placeholder="Destination" type="text">
        </div>
        <button class="btn btn-primary" type="submit" id="submit">Calculate</button>
    </form>
{% endblock %}